admin/*
Data/*
guiyuan's code/*
LaTeX/
Matlab implementation/
Papers/*
Presentation/*
Report/*
tmp/*

!Presentation/*.pptx

!Report/*.pdf
!Report/*.tex
!Report/*.bib
!Report/*.tikz

*.json

desktop.ini

~$*

.ipynb_checkpoints/
.dropbox
